@use '../abstracts' as *;

.card {
  overflow: hidden;
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  border-radius: calc((5 / 16) * 1em);
  max-width: calc((470 / 16) * 1em);

  @media (min-width: $breakpoint-1) {
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-template-areas:
      'primary primary'
      'secondary tertiary';
    border-radius: calc((8 / 16) * 1em);
    max-width: calc((630 / 16) * 1em);
  }
}

.section {
  padding: calc((24 / 16) * 1em);

  @media (min-width: $breakpoint-1) {
    padding: calc((40 / 16) * 1em);
  }

  &.community {
    grid-area: primary;
    background-color: $color-white;

    & .title {
      font-size: pxToRem(20);
      color: $color-cyan;
      line-height: calc(23.38 / 20);
      letter-spacing: calc(-0.25 / 20);
      margin-bottom: calc((24 / 20) * 1em);

      @media (min-width: $breakpoint-1) {
        font-size: pxToRem(24);
        line-height: calc(28.06 / 24);
        letter-spacing: calc(-0.3 / 20);
        margin-bottom: calc((24 / 24) * 1em);
      }
    }

    & .subtitle {
      font-size: pxToRem(15);
      font-weight: 700;
      line-height: calc(20 / 15);
      letter-spacing: calc(-0.19 / 15);
      color: $color-bright-yellow;
      margin-bottom: calc((16 / 15) * 1em);

      @media (min-width: $breakpoint-1) {
        font-size: pxToRem(18);
        line-height: calc(21.04 / 18);
        letter-spacing: calc(-0.22 / 18);
        margin-bottom: calc((11 / 18) * 1em);
      }
    }

    & .description {
      font-size: pxToRem(14);
      line-height: calc(26 / 14);
      letter-spacing: calc(-0.17 / 14);
      color: $color-grayish-blue;
      margin-bottom: calc((8 / 14) * 1em);

      @media (min-width: $breakpoint-1) {
        font-size: pxToRem(16);
        line-height: calc(26 / 16);
        letter-spacing: calc(-0.2 / 16);
      }
    }
  }

  &.subscription {
    grid-area: secondary;
    background-color: $color-cyan;
    color: $color-white;

    & .title {
      font-size: pxToRem(18);
      font-weight: 700;
      line-height: calc(21.04 / 18);
      letter-spacing: calc(-0.22 / 18);
      margin-bottom: calc((8 / 18) * 1em);

      @media (min-width: $breakpoint-1) {
        margin-bottom: calc((18 / 18) * 1em);
      }
    }

    & .cost {
      display: flex;
      align-items: center;
      gap: calc((11 / 16) * 1em);
      margin-bottom: calc((1 / 16) * 1em);

      @media (min-width: $breakpoint-1) {
        margin-bottom: calc((4 / 16) * 1em);
      }

      & .price {
        font-size: pxToRem(32);
        line-height: calc(37.41 / 32);
        letter-spacing: calc(-0.4 / 32);
        font-weight: 700;
      }

      & .frequency {
        font-size: pxToRem(16);
        font-weight: 400;
        line-height: calc((26 / 16) * 1em);
        letter-spacing: calc(-0.2 / 16);
        opacity: 0.5;
      }
    }

    & .description {
      font-size: pxToRem(16);
      line-height: calc(26 / 16);
      letter-spacing: calc((-0.2 / 16) * 1em);
      margin-bottom: calc((26 / 16) * 1em);
    }

    & .btn {
      display: block;
      background-color: $color-bright-yellow;
      font-size: pxToRem(16);
      font-weight: 700;
      line-height: calc(18.7 / 16);
      letter-spacing: calc((-0.2 / 16) * 1em);
      color: $color-white;
      padding: calc((14 / 16) * 1em);
      text-decoration: none;
      text-align: center;
      border-radius: calc((5 / 16) * 1em);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
      transition: 0.2s ease-in-out;

      &:hover {
        background-color: hsla(71, 73%, 54%, 0.25);
        color: $color-white;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011),
          inset 0 0 0 2px $color-bright-yellow;
      }
    }
  }

  &.why {
    grid-area: tertiary;
    background-color: hsl(178, 48%, 52%);
    color: $color-white;

    & .title {
      font-size: pxToRem(18);
      line-height: calc(21.04 / 18);
      letter-spacing: calc((-0.22 / 18) * 1em);
      margin-bottom: calc((18 / 18) * 1em);
    }

    & .reasons {
      list-style-type: none;
      padding: 0;
      font-size: pxToRem(14);
      line-height: calc(20 / 14);
      letter-spacing: calc((-0.17 / 14) * 1em);
      opacity: 0.75;
    }
  }
}
