@use '../abstracts' as *;

body {
  display: grid;
  justify-content: center;
  align-content: flex-start;

  font-family: $ff-body;
  // font-size: $fs-body;
  color: $fc-body;
  font-weight: 400;
  background-color: hsl(204, 43%, 93%);

  @media (min-width: $breakpoint-1) {
    place-content: center;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
