// Primary colors
$color-cyan: hsl(179, 62%, 43%);
$color-bright-yellow: hsl(71, 73%, 54%);

// Neutral colors
$color-light-gray: hsl(204, 43%, 93%);
$color-grayish-blue: hsl(218, 22%, 67%);
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);

$fc-body: $color-black;
$bgc-body: $color-cyan;

$fc-primary: $color-black;
$bgc-primary: $color-white;
