@use './functions' as *;

$font-url: 'https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap';
$font-family: 'Karla', sans-serif;
$font-size: pxToRem(14);

$ff-body: $font-family;
$fs-body: $font-size;

$ff-primary: $font-family;
$fs-primary: $font-size;
